<b:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:b="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <http entry-point-ref="casEntryPoint">
        <intercept-url pattern="/**" access="hasRole('USER')" />
        <custom-filter position="CAS_FILTER" ref="casFilter" />

        <!-- 退出登录配置项 -->
        <logout logout-success-url="/anon/logout" />
        <custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER"/>
        <custom-filter ref="singleLogoutFilter" before="CAS_FILTER"/>
        <!--
        如果不设置为true,
        <logout logout-success-url="/anon/logout" />
        logout只支持post
        -->
        <csrf disabled="true"/>
    </http>


    <!-- 设置回调参数-->
    <b:bean id="serviceProperties"
          class="org.springframework.security.cas.ServiceProperties">
        <b:property name="service"  value="http://localhost:9000/cas-client-1/login/cas"/>
        <b:property name="sendRenew" value="false"/>
    </b:bean>

    <b:bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        <b:property name="authenticationManager" ref="authenticationManager"/>

        <b:property name="proxyGrantingTicketStorage" ref="pgtStorage"/>
        <b:property name="proxyReceptorUrl" value="/login/cas/proxyreceptor"/>

    </b:bean>

    <b:bean id="casEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
        <b:property name="loginUrl" value="http://localhost:8080/cas/login"/>
        <b:property name="serviceProperties" ref="serviceProperties"/>
    </b:bean>



    <!-- 认证管理器 -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="casAuthenticationProvider" />
    </authentication-manager>

    <b:bean id="casAuthenticationProvider"
          class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        <b:property name="authenticationUserDetailsService">
            <b:bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <b:constructor-arg ref="userService" />
            </b:bean>
        </b:property>
        <b:property name="serviceProperties" ref="serviceProperties" />
        <!--<b:property name="ticketValidator">
            <b:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <b:constructor-arg index="0" value="http://localhost:8080/cas" />
            </b:bean>
        </b:property>-->

        <!--cas 无状态登录配置.-->
        <b:property name="ticketValidator">
            <b:bean class="org.jasig.cas.client.validation.Cas20ProxyTicketValidator">
                <!-- cas服务地址. -->
                <b:constructor-arg value="http://localhost:8080/cas"/>
                <!-- cas无状态登录代理端. -->
                <b:property name="proxyCallbackUrl"
                            value="http://localhost:9000/cas-client-1/login/cas/proxyreceptor"/>
                <b:property name="proxyGrantingTicketStorage" ref="pgtStorage"/>
            </b:bean>
        </b:property>
        <b:property name="key" value="an_id_for_this_auth_provider_only"/>
    </b:bean>

    <user-service id="userService">
        <user name="admin" password="111111" authorities="ROLE_USER" />
    </user-service>

    <!-- 配置退出登录拦截器具体实现类. -->
    <!-- This filter handles a Single Logout Request from the CAS Server -->
    <b:bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>

    <!-- This filter redirects to the CAS Server to signal Single Logout should be performed -->
    <b:bean id="requestSingleLogoutFilter"
          class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <b:constructor-arg value="http://localhost:8080/cas/logout"/>
        <b:constructor-arg>
            <b:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
        </b:constructor-arg>
        <b:property name="filterProcessesUrl" value="/logout/cas"/>
    </b:bean>


    <!--
        NOTE: In a real application you should not use an in
              memory implementation. You will also want to ensure
              to clean up expired tickets by calling ProxyGrantingTicketStorage.cleanup()
    -->
    <b:bean id="pgtStorage" class="org.jasig.cas.client.proxy.ProxyGrantingTicketStorageImpl"/>
</b:beans>